<div class="custom-header">
  <div class="logo-wrapper">
    <img src="../assets/images/logo.svg" alt="logo" class="logo">
  </div>
  <div class="header-content-wrapper">
    <div class="header-content">
      <h1>Упорядкування аграрного хаосу</h1>
      <span>Управління земельним банком. Автоматизація виробничого процесу. Звіти зі стану посівів.  Завжди під рукою.</span>
      <div class="button-container">
        <button class="btn btn-success btn-clock">
          Наші Продукти
        </button>
      </div>
    </div>
  </div>
</div>
<section class="products">
  <h4 class="section-header">Наші продукти</h4>
  <div class="product-list">
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/LM.svg" alt="LM">
        <span>Land Management</span>
      </div>
      <div>
        <span class="highlighted-text">Управління земельним банком. </span>
        База даних усіх полів і ділянок. Управління договорами оренди. Управління
        виплатами та нарахуваннями.
      </div>
    </div>
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/AM.svg" alt="AM">
        <span>Agri Management</span>
      </div>
      <div>
        <span class="highlighted-text">Управління польовими роботами. </span>
        Контроль над створенням та виконанням польових робіт а також контроль руху і
        використання ТМЦ. GPS-моніторінг.
      </div>
    </div>
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/AS.svg" alt="AS">
        <span>Agri Scouting</span>
      </div>
      <div>
        <span class="highlighted-text">Огляд посівів. </span>
        Інформація щодо стану посівів та потенційної урожайності. Автоматизація планування оглядів
        полів. Бізнес аналітика та звіти.
      </div>
    </div>
  </div>
</section>
<section class="section-4">
  <div class="content-container">
    <div class="app-advert">
      <span>ANDROID 4.4</span>
      <h4>Вся інформація завжди під рукою</h4>
      <p>Мобільні додатки налаштовуються згідно ролей користувачів. Для менеджменту та виконавців доступний різний
        функціонал.</p>
      <img src="../assets/images/icons/google_play_badge.svg" alt="gapps link">
    </div>
    <div class="smartphone">
      <img src="../assets/images/mobile.png" alt="">
    </div>
    <div class="app-descript">
      <div class="button-container">
        <button class="backward">
        </button>
        <button class="forward">
        </button>
      </div>
      <h5>Agri Management</h5>
      <ul>
        <li> - Створення завдань на проведення польових робіт</li>
        <li> - Створення актів виконаних робіт</li>
        <li> - Контроль швидкості руху техніки</li>
        <li> - Планування та список доступної техніки</li>
      </ul>
    </div>
  </div>
</section>
<section class="section-5">
  <div class="content-container">
    <span class="pre-header">Веб додатки</span>
    <h4>Єдина база даних та синхронізація із мобільними додатками</h4>
    <div class="app-cards-wrapper">
      <div class="app-card">
        <img src="../assets/images/icons/LM.svg" alt="LM">
        <h5>Land Management<br>
          <span>Управління земельним банком</span>
        </h5>

        <article>Реєстр земельних ділянок Управління реєстром полів Договори оренди. Виплати та нарахування Аналітика і
          звіти 
        </article>
        <a href="#">
          Дізнатись більше
          <img class="arrow-forward" src="../assets/images/icons/arrow-line.svg" alt="">
        </a>
      </div>
      <div class="app-card">
        <img src="../assets/images/icons/AM.svg" alt="LM">
        <h5>Agri Scouting<br>
          <span>Управління оглядами полів</span>
        </h5>

        <article>Контроль оглядів полів. Стан посівів. Поточна погода та прогноз Погодження додаткової обробки
          посівів Бізнес аналітика
        </article>
        <a href="#">
          Дізнатись більше
          <img class="arrow-forward" src="../assets/images/icons/arrow-line.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section-6">
  <div class="content-container">
    <div class="content-header">
      <span>БІльше ніж просто <br> програми</span>
      <h4>Ми приклали максимум зусиль, щоб робота із продуктами компанії була комфортною та зрозумілою для
        агрономів</h4>
    </div>
    <div class="content-wrapper">
      <img src="../assets/images/around-pc.png" alt="">
      <div class="feaches-list">
        <div class="feache-item">
          <div class="feache-header">
            <img src="../assets/images/icons/book-open-2.svg" alt="">
            <h5>Впровадження системи на місцях</h5>
          </div>
          <p>Ми маємо досвід у запровадженні подібних систем у найбільших аграрних корпораціях України. Окрема команда
            буде допомагати у впровадженні системи на місцях, та консультувати при виникненні питань.
          </p>
        </div>
        <div class="feache-item">
          <div class="feache-header">
            <img src="../assets/images/icons/phone-2.svg" alt="">
            <h5>Охуенный телефон</h5>
          </div>
          <p>йобанаврот куда делись тексты???? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur
            iste minima, modi omnis
            perferendis quod repellat! Adipisci, aspernatur officia repellat repellendus?
          </p>
        </div>
        <div class="feache-item">
          <div class="feache-header">
            <img src="../assets/images/icons/preferences-circle.svg" alt="">
            <h5>Легке налаштування під потреби клієнта</h5>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="cta">
  <h4 class="section-header">Залиште замовлення на тестове користування системою</h4>
  <div class="e-mail-container">
    <input class="email-input" placeholder="Адреса електронної пошти" name="input"/>
    <button>
      ВІДПРАВИТИ
    </button>
  </div>
</section>
