<div class="custom-header">
  <div class="custom-nav">
    <img src="../assets/images/logo.svg" alt="logo" class="logo">
    <a href="#">Продукти</a>
    <a href="#">Команда</a>
    <a href="#">Ціни</a>
    <span class="spacer"></span>
    <span><img src="../assets/images/icons/applications-line.svg" alt=""></span>
    <a href="#">РЕЄСТРАЦІЯ</a>
    <button class="btn btn-success btn-clock">
      ВХІД
    </button>
  </div>
  <div class="header-content-wrapper">
    <div class="header-content">
      <h1>Упорядкування аграрного хаосу</h1>
      <span>Управління земельним банком. Автоматизація виробничого процесу. Звіти зі стану посівів. Завжди під рукою.</span>
      <div class="button-container">
        <button class="btn btn-success btn-clock">
          Наші Продукти
        </button>
        <a class="video-link">
          ПЕРЕГЛЯНУТИ ВІДЕО
        </a>
      </div>
    </div>
  </div>
</div>
<section class="products">
  <h2 class="section-header">Наші продукти</h2>
  <div class="product-list">
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/LM.svg" alt="LM">
        <span>Land Management</span>
      </div>
      <div>
        <span class="highlighted-text">Управління земельним банком. </span>
        База даних усіх полів і ділянок. Управління договорами оренди. Управління
        виплатами та нарахуваннями.
      </div>
    </div>
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/AM.svg" alt="AM">
        <span>Agri Management</span>
      </div>
      <div>
        <span class="highlighted-text">Управління польовими роботами. </span>
        Контроль над створенням та виконанням польових робіт а також контроль руху і
        використання ТМЦ. GPS-моніторінг.
      </div>
    </div>
    <div class="product-item">
      <div class="product-header">
        <img src="../assets/images/icons/AS.svg" alt="AS">
        <span>Agri Scouting</span>
      </div>
      <div>
        <span class="highlighted-text">Огляд посівів. </span>
        Інформація щодо стану посівів та потенційної урожайності. Автоматизація планування оглядів
        полів. Бізнес аналітика та звіти.
      </div>
    </div>
  </div>
</section>

<section class="section-3">
  <div class="content-container">
    <div class="section-3-text-info">
      <span class="pre-header">НАЙСКЛАДНІШЕ позаду</span>
      <h4 class="section-header">Оптимізуємо витрати та збільшуємо прибуток</h4>
      <p>Завдяки нашим продуктам, інформація щодо стану речей на полях є доступною у будь який час. Це допомогає
        приймати зважені рішення та бути завжди в курсі поточних подій.
      </p>
      <span class="spacer"></span>
      <a href="#">
        Дізнатись більше
        <clr-icon class="arrow-forward" shape="arrow"></clr-icon>
      </a>
    </div>
    <div class="video">
      <img src="../assets/images/VIDEO.png" alt="">
    </div>
  </div>
</section>
