<nav class="navbar" id="navbar" (scroll)="onWindowScroll($event);">
  <a routerLink="/" class="logo">
    <img src="../assets/images/logo.svg" alt="logo" class="md-xl">
    <img src="../assets/images/logo.svg" class="xs-sm">
  </a>
  <!-- <a routerLink="/LandManagement" routerLinkActive="router-link-active">
    <span class="md-xl">Land Management</span>
    <img src="../assets/images/icons/LM-Simple.png" class="xs-sm nav-link-icon">
  </a> -->
  <!-- <a routerLink="/AgriManagement" routerLinkActive="router-link-active">
    <span class="md-xl">Agri Management</span>
    <img src="../assets/images/icons/AM-Simple.png" class="xs-sm nav-link-icon">
  </a> -->
  <!-- <a routerLink="/AgriScouting" routerLinkActive="router-link-active">
    <span class="md-xl">Agri Scouting</span>
    <img src="../assets/images/icons/AP-Simple.png" class="xs-sm nav-link-icon">
  </a> -->
</nav>
<router-outlet></router-outlet>
<div class="container">
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-img">
          <img src="../assets/images/footer-logo.png" alt="logo">
        </div>
        <div class="footer-info">
          <h4>Зв'яжіться з нами:</h4>
          <a href="mailto:andrii.vyshniak@agrichain.com.ua" class="email">sales@agrichain.com.ua</a>
          <a href="tel:0504697766">+380 (50) 469 77 66</a>
          <a href="tel:0444697766">+380 (44) 469 77 66</a>
          <a href="https://goo.gl/maps/dMvaRaawjC3H1r1S6" target="_blank">м. Київ, вул. Ярославська, 58</a>
          <a href="https://goo.gl/maps/dMvaRaawjC3H1r1S6" target="_blank">БЦ "Астарта"</a>
        </div>
      </div>
    </div>
  </footer>
</div>
