:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  .btn {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none !important;
    border-radius: 3px;
    border: 1px solid #0079b8;
    min-width: 72px;
    max-width: 360px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 36px;
    //letter-spacing: 24px;
    font-size: 12px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;
    background-color: transparent;
    color: #0079b8;
    margin: 6px 12px 6px 0;
  }
  .btn-success {
    border-color: #2f8400;
    background-color: #2f8400;
    color: #fff;
    &:hover {
      background-color: #266900;
      color: #fff;
    }
  }
  .svg-icon {
    width: 15px;
  }
  .section-header {
    font-size: 34px;
    line-height: 46px;
    color: #2C2E30;
    font-weight: 500;
  }

  .spacer {
    display: flex;
    flex-grow: 1;
  }

  .custom-header {
    background-image: url("../assets/images/main-pic-full.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    //height: 890px;
    align-items: center;

    .logo-wrapper {
      width: 100%;
      padding: 0 29px;
      display: flex;
      height: 60px;
      align-items: center;
      font-size: 14px;
      line-height: 13px;
    }

    .header-content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 0 auto;

      .header-content {
        margin: 200px auto 300px auto;
        display: flex;
        flex-direction: column;
        max-width: 686px;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1 {
          font-size: 48px;
          line-height: 62px;
          color: #313131;
          margin: 0 0 26px 0;
        }

        span {
          font-size: 18px;
          line-height: 34px;
          margin-bottom: 40px;
        }

        .button-container {
          display: flex;
          align-items: center;

          button {
            margin-right: 48px;
          }

          .video-link {
            color: #FFFFFF;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .products {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-header {
      margin: 90px auto;
    }

    .product-list {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #E7EAEE;
      width: 70%;

      .product-item {
        //width: 320px;
        margin-bottom: 74px;

        .product-header {
          display: flex;
          align-items: center;
          font-size: 24px;
          line-height: 24px;
          color: #2C2E30;
          font-weight: bold;

          img {
            margin-right: 24px;
            height: 52px;
            width: 52px;
          }
        }

        .highlighted-text {
          color: #2F5BEA;
        }

        & + .product-item {
          margin-left: 46px;
        }
      }
    }
  }

  .section-4 {
    background-color: #3A828C;
    display: flex;
    justify-content: center;

    .content-container {
      color: #d2d2d2;
      width: 70%;
      display: flex;
      justify-content: center;
      .app-advert {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-top: 214px;
        align-items: flex-start;

        span {
          font-size: 15px;
          line-height: 14px;
          margin-bottom: 19px;
        }

        h4 {
          color: #ffffff;
          font-size: 34px;
          line-height: 46px;
          margin: 0 0 29px 0;
        }

        p {
          color: #d2d2d2;
          font-size: 16px;
          line-height: 28px;
          margin: 0 0 62px 0;
        }
      }
      .smartphone {
        margin-bottom: -158px;
        margin-top: 120px;
        z-index: 1;
      }
      .app-descript {
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-top: 214px;
        align-items: flex-start;

        .button-container {
          display: flex;
          margin-bottom: 55px;
          button {
            //background-color: rgba(255, 255, 255, .3);
            border-radius: 100%;
            width: 49px;
            height: 49px;
            color: #FFFFFF;
            border: none;
            transition: .1s linear;
            position: relative;
            background: url("../assets/images/icons/play.svg") center no-repeat, rgba(255, 255, 255, .3);
            &:hover {
              background: url("../assets/images/icons/play-hovered.svg") center no-repeat, rgba(255, 255, 255, 1);
            }
          }
          .backward {
            transform: rotate(180deg);
            margin-right: 13px;
          }
        }

        h5 {
          line-height: 21px;
          font-size: 21px;
          color: #ffffff;
          margin: 0 0 36px 0;
        }
        ul {
          list-style-type: none;
        }
      }

    }
  }
  .section-5 {
    background: #BFEEF8;
    display: flex;
    justify-content: center;
    padding-top: 158px;
    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .pre-header {
      font-size: 16px;
      line-height: 16px;
      color: #7E8085;
      margin: 80px auto 17px;
      text-transform: uppercase;
    }
    h4 {
      margin: 0 auto 44px;
      font-size: 34px;
      line-height: 46px;
      text-align: center;
      color: #2C2E30;
      width: 50%;
    }
    .app-cards-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: -118px;
      .app-card {
        width: 480px;
        //height: 505px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0 2px 9px rgba(0, 0, 0, 0.14221);
        border-radius: 5px;
        padding: 60px 20px 40px;
        margin: 13px;
        & > img {
          width: 100px;
          height: auto;
          margin-bottom: 30px;
        }
        h5 {
          margin-top: 0;
          font-size: 24px;
          line-height: 34px;
          text-align: center;
          color: #2C2E30;
          margin-bottom: 16px;
          span {
            color: #2F5BEA;
          }
        }
        article {
          font-size: 16px;
          line-height: 28px;
          color: #54565A;
          margin-bottom: 40px;
        }
        a {
          z-index: 1;
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 18px;
          line-height: 18px;
          color: #2C2E30;
          border-bottom: 3px solid transparent;
          padding-bottom: 7px;
          transition: .2s ease;
          .arrow-forward {
            width: 18px;
            transform: rotate(90deg);
          }
          &:hover {
            border-bottom: 3px solid #2F5BEA;
          }
        }
      }
    }
  }
  .section-6 {
    padding-top: 164px;
    display: flex;
    justify-content: center;
    padding-bottom: 118px;
    .content-container {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .content-header {
        margin-top: 40px;
        text-align: center;
        span {
          font-size: 16px;
          line-height: 16px;
          text-transform: uppercase;
          color: #7E8085;
        }
        h4 {
          margin-top: 0;
          font-size: 34px;
          line-height: 46px;
          color: #2C2E30;
          margin-bottom: 70px;
        }
      }
      .content-wrapper {
        display: flex;
        justify-content: space-between;
        & > img {
          margin-right: 24px;
          height: 100%;
          width: auto;
        }
        .feaches-list {
          display: flex;
          flex-direction: column;
        }
        .feache-item {
          padding: 25px;
          .feache-header {
            display: flex;
            align-items: center;
            img {
              margin-right: 24px;
            }
            h5 {
              margin: 0;
              font-size: 24px;
              line-height: 24px;
              color: #2C2E30;
            }
          }
          p {
            font-size: 16px;
            line-height: 28px;
            color: #54565A;
          }
        }
      }
    }
  }
  .cta {
    padding-top: 118px;
    background-color: #BFEEF8;
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
      margin: 90px auto;
      color: #727272;
      font-size: 34px;
      line-height: 34px;
      width: 673px;
      text-align: center;
      font-weight: 500;
    }
    .e-mail-container {
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 200px;

      .email-input {
        width: 327px;
        padding: 24px;
        border: none;
        font-size: 18px;
        line-height: 18px;
      }
      button {
        border: none;
        height: 100%;
        font-size: 16px;
        line-height: 16px;
        border-left: 1px solid #E7EAEE;
        padding: 25px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
